// Define default theme variables at the root level for global access
:root {
    --primary-color: #ffffff; // Default to light theme
    --secondary-color: #000000;
  }
  
  .light-theme {
    --primary-color: #ffffff;
    --secondary-color: #000000;
  }
  
  .dark-theme {
    --primary-color: #000000;
    --secondary-color: #ffffff;
  }
  