// Define default theme variables at the root level for global access
:root {
    --primary-color: #ffffff; // Default to light theme
    --secondary-color: #000000;
  }
  
  .light-theme {
    --primary-color: #ffffff;
    --secondary-color: #000000;
  }
  
  .dark-theme {
    --primary-color: #000000;
    --secondary-color: #ffffff;
  }
  .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .card{
    width: 60%;
    margin: 40px 40px;
  }
  
  .example-spacer{
    flex: 1 1 auto;
  }
  
  .always-active {
    color: blue; /* Use your theme's primary color */
    background-color: rgba(0, 0, 0, 0.04); /* Light background */
    font-weight: bold;
    margin-top: 30%;
  }
  
  